<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whattodo.dao.MeetingBoardReplyMapper">

	<insert id="insertMeetingBoardReply" parameterType="meetingBoardReply">
		insert into meeting_boards_replys
		values(SEQ_meeting_board_reply_no.nextval, #{meetingBoardReplyContent}, SYSDATE, #{meetingBoardNo}, #{id})
	</insert>
	
	<update id="updateMeetingBoardReply" parameterType="meetingBoardReply">
		update meeting_boards_replys
		set meeting_board_reply_content=#{meetingBoardReplyContent},
		where meeting_board_reply_no=#{meetingBoardReplyNo}
	</update>
	
	<delete id="deleteMeetingBoardReply" parameterType="int">
		delete from meeting_boards_replys
		where meeting_board_reply_no=#{meetingBoardReplyNo}
	</delete>
	
	<delete id="deleteMeetingBoardReplyByMeetingBoardNo" parameterType="int">
		delete from meeting_boards_replys
		where meeting_board_no=#{meetingBoardNo}
	</delete>
	<select id="selectAllMeetingBoardReply" parameterType="int" resultType="meetingBoardReply">
		select *
		from meeting_boards_replys
		where meeting_board_no=#{meetingBoardNo}
	</select>
</mapper>