<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whattodo.dao.MeetingBoardMapper">
	<insert id="insertMeetingBoard" parameterType="meetingBoard">
		insert into meeting_boards
		values(seq_meeting_board_no.nextval, #{meetingBoardTitle}, #{meetingBoardContent},  #{meetingNo}, #{id}, #{place}, SYSDATE)
	</insert>
	
	<update id="updateMeetingBoard" parameterType="meetingBoard">
		update meeting_boards
		set meeting_board_title=#{meetingBoardTitle},
		meeting_board_content=#{meetingBoardContent},
		place=#{place}
		where meeting_board_no=#{meetingBoardNo}
	</update>
	
	<delete id="deleteMeetingBoard" parameterType="int">
		delete from meeting_boards
		where meeting_board_no=#{meetingBoardNo}
	</delete>
	
	<delete id="deleteMeetingBoardByMeetingNo" parameterType="int">
		delete from meeintg_boards
		where meeting_no=#{meetingNo}
	</delete>
	
	<select id="selectMeetingBoardByBoardNo" parameterType="int" resultType="meetingBoard">
		select *
		from meeting_boards
		where meeting_board_no=#{meetingBoardNo}
	</select>
	
	<select id="selecctAllMeetingBoard" parameterType="int" resultType="meetingBoard">
		select *
		from meeting_boards
		where meeting_no=#{meetingNo}
	</select>
	
</mapper>