<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whattodo.dao.MeetingMapper">
	<insert id="insertMeeting" parameterType="meeting">
		insert into meeting(meeting_no, meeting_title, meeting_content, meeting_keyword, meeting_img, id, place)
		values(seq_meeting_no.nextval, #{meetingTitle}, #{meetingContent}, #{meetingKeyword}, #{meetingImg}, #{id}, #{place})
	</insert>
	
	<update id="updateMeeting" parameterType="meeting">
		update meeting
		set meeting_title=#{meetingTitle},
		meeting_content=#{meetingContent},
		meeting_keyword=#{meetingKeyword},
		meeting_img=#{meetingImg},
		place=#{place}
		where meeting_no=#{meetingNo}
	</update>
	
	<delete id="deleteMeeting" parameterType="int">
		delete from meeting
		where meeting_no=#{meetingNo}
	</delete>
	
	<select id="selectMeetingByMeetingNo" parameterType="int" resultType="meeting">
		select *
		from meeting
		where meeting_no=#{meetingNo}
	</select>
	
	<select id="selectAllMeeting" resultType="meeting">
		select *
		from meeting
	</select>
	
	<select id="selectMyMeeting" parameterType="String" resultType="meeting">
		select *
		from meeting
		where id=#{id}
	</select>
	
	<select id="selectSearchMeetingByPlace" parameterType="String" resultType="meeting">
		select *
		from meeting
		where place like '%'||#{place}||'%'
	</select>
	
	<select id="selectSearchMeetingByMeetingKeyword" parameterType="String" resultType="meeting">
		select *
		from meeting
		where meeting_keyword like '%'||#{meetingKeyword }||'%'
	</select>
	
	<select id="selectSearchMeetingByplaceAndmeetingKeyword" parameterType="map" resultType="meeting">
		select *
		from meeting
		where place like '%'||#{place}||'%' and meeting_keyword like '%'||#{meetingKeyword }||'%'
	</select>
	
	<!-- follow 랑 meeting 조인 -->
	<select id="selectFollowMeetings" parameterType="String" resultType="meeting">
		select m.*
		from meeting_follow mf, meeting m
		where mf.meeting_no=m.meeting_no and mf.id=#{id}
	</select>
	
	<update id="updateFollowMeeting" parameterType="int">
		update meeting
		set meeting_follow=meeting_follow+1
		where meeting_no=#{meetingNo}
	</update>
	
	<update id="updateFollowMeetingMinus" parameterType="int">
		update meeting
		set meeting_follow=meeting_follow-1
		where meeting_no=#{meetingNo}
	</update>
	
	<insert id="insertMeetingFollow" parameterType="map">
		insert into meeting_follow
		values(#{id}, #{meetingNo})
	</insert>
	
	<delete id="deleteFollowMeetingByMeetingNo" parameterType="int">
		delete from meeting_follow
		where meeting_no=#{meetingNo}
	</delete>
	
	<delete id="deleteFollowMeetingById" parameterType="String">
		delete from meeting_follow
		where id=#{id}
	</delete>
	
	<select id="selectFollowMeeting" parameterType="map" resultType="meetingFollow">
		select *
		from meeting_follow
		where meeting_no=#{meetingNo} and id=#{id}
	</select>
	
	<delete id="deleteFollowMeeting" parameterType="map">
		delete
		from meeting_follow
		where meeting_no=#{meetingNo} and id=#{id}
	</delete>
</mapper>
