<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whattodo.dao.MemberMapper">
	<insert id="insertMember" parameterType="member">
		insert into members(id, pass, nickname, email, region, birth, 
		 favorite, profile_img, question, answer) 
		values(#{id}, #{pass}, #{nickname}, #{email}, #{region}, #{birth},
		 #{favorite}, #{profileImg}, #{question}, #{answer} )
	</insert>
	<update id="updateMember" parameterType="member">
		update members
		set pass=#{pass},
		nickname=#{nickname},
		region=#{region},
		favorite=#{favorite},
		profile_img=#{profileImg},
		where id=#{id}
	</update>
	<delete id="deleteMemberById" parameterType="String">
		delete
		from members
		where id=#{id}
	</delete>
	<select id="getMemberById" parameterType="String" resultType="member">
		select *
		from members
		where id=#{id}
	</select>

	<select id="getMemberByEmail" parameterType="String" resultType="member">
		select *
		from members
		where email=#{email}
	</select>
	
	<select id="getMemberByNickname" parameterType="String" resultType="member">
		select *
		from members
		where nickname=#{nickname}
	</select>
	
	<update id="updateMemberEditor" parameterType="String">
		update members
		set division='Editor'
		where id=#{id}
	</update>
	
	<select id="selectCustomer" resultType="member">
		select * from members where division='Customer'
	</select>
	
	<select id="selectEditor" resultType="member">
		select * from members where division='Editor'
	</select>
</mapper>